.pin {
  height: 17px;
  width: 18px;
  margin-left: 167px;
  margin-bottom: 17px;
}
.img {
  height: 21px;
  width: 23px;
  padding-left: 10px;
  cursor: pointer;
}
.button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  padding: auto;
}
.label {
  background-color: #cfcccc;
  width: fit-content;
  padding: 2px;
  border-radius: 7px;
}
