.card {
  padding: 1rem;
  box-shadow: 0 0px 3px rgb(0 0 0 / 25%);
  border-radius: 14px;
  /* background-color: white; */
  width: 20%;
  height: 30%;
  margin: 2%;
  float: left;
  min-height: 50px;
}
